# Tables

In [ ]:
# Importing the datascience package
from datascience import *
import numpy as np

In [8]:
# Giving the table a name
flowers = Table.read_table("flowers.csv")

In [21]:
# Run this cell to see the content of the file flowers.csv
movies = Table.read_table("top_movies_2017.csv")

## Write code to show the first three rows of table movies

In [22]:
movies.show(3)

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)